body {line-height: 1; background-color: #e8e8e8; min-width: 320px; max-width: 640px; margin: 0 auto; }
button {outline: none; background: none; border: none; padding: 0;}

/* tip */
.tip {padding: .6em 0 .6em 12px; font-size: 13px; color: #333; background-color: #fff4e1; border-bottom: 1px solid #e6e6e6; }
.tip p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.tip span {color: #c10c00; }

/* 复选框 */
.checkbox {color: #666; font-size: 12px; line-height: 20px; }
.checkbox .icon {position: relative; display: inline-block; box-sizing: border-box; width: 20px; height: 20px; border: 1px solid #a6a6a6; border-radius: 50%; background-color: #fff; vertical-align: middle; }
.checkbox .icon:before {content: ''; position: absolute; top: 50%; left: 50%; width: 10px; height: 6px; box-sizing: border-box; border-bottom: 2px solid #fff; border-left: 2px solid #fff; -webkit-transform: translate(-50%, -60%) rotate(-45deg); transform: translate(-50%, -60%) rotate(-45deg); }
.checkbox input:checked ~ .icon {border-color: #c10c00; background-color: #c10c00; }

.quantity {overflow: hidden; background-color: #fff; border: 1px solid #d2d2d2; }
.quantity .action {float: left; width: 20px; height: 20px; box-sizing: border-box; font-size: 16px; text-align: center; line-height: 20px; color: #959595; }
.quantity input {float: left; width: 24px; height: 20px; font-size: 14px; line-height: 20px; text-align: center; color: #333; border-radius: 0; border-left: 1px solid #d2d2d2; border-right: 1px solid #d2d2d2; }

.gift {overflow: hidden; padding: 0 12px; font-size: 12px; line-height: 1.3; color: #999; }
.gift em {float: left; padding: 0 5px; border: 1px solid #d2d2d2; }
.gift a {float: left; width: 65%; margin-left: 25px; color: inherit; }
.gift strong {color: #c10c00; }
.gift span {float: right; }

.hide {display: none; opacity: 0; }
.show {display: block; opacity: 1; }

.bundle {margin-top: 12px; background-color: #fff; }
.bundle .tip {padding-left: 42px; }
.bundle .shop {height: 40px; padding: 0 12px;}
.bundle .shop .checkbox {float: left; margin-top: 10px;}
.bundle .shop-img {float: left; display: inline-block; width: 18px; height: 18px; margin: 11px 8px 0 10px; }
.bundle .shop-img img {width: 100%; height: auto; }
.bundle .shop-tit {display: block; font-size: 14px; color: #333; line-height: 44px; }
.bundle .item {overflow: hidden; }
.bundle .item-detail {overflow: hidden; position: relative; margin-bottom: 10px; padding: 10px 10px 10px 40px; background-color: #f3f3f3; }
.bundle .item .checkbox {position: absolute; left: 12px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.bundle .item-img {float: left; width: 75px; height: 75px; overflow: hidden; }
.bundle .item-img img {width: 100%; height: auto; }
.bundle .item-name, .bundle .item-desc, .bundle .item-amount {display: block; margin-left: 82px; }
.bundle .item-name {overflow: hidden; height: 3em; font-size: 12px; line-height: 1.5em; text-align: justify; }
.bundle .item-desc {margin-bottom: 5px; font-size: 11px; color: #999; }
.bundle .item-amount {overflow: hidden; }
.bundle .item-price {float: left; font-size: 14px; line-height: 22px; color: #c10c00; }
.bundle .quantity {float: right; }
.bundle .item .gift {margin-bottom: 10px; padding-left: 40px; }

.bottom-checkout {position: fixed; bottom: 52px; left: 0; right: 0; padding: 10px 12px; background-color: #fff; }
.bottom-checkout:before {content: ''; position: absolute; top: 0; left: 0; right: 0; box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1); }
.bottom-checkout .checkbox {position: absolute; left: 0.375rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.bottom-checkout .action {float: right; height: 40px; font-size: 13px; color: #fff; padding: 0 1.5em; border-radius: 2px; background-color: #c10c00; }
.bottom-checkout .detail {float: left; line-height: 20px; font-size: 10px; color: #000; overflow: hidden; }
.bottom-checkout .total {display: block; font-size: 14px; }
.bottom-checkout em {font-size: 15px; color: #ff8a00; font-style: normal; }
.bottom-checkout small {font-size: 11px; }
.bottom-checkout .btn {float: right; margin-left: 10px; min-width: 60px; }
.bottom-checkout .btn {display: inline-block; box-sizing: border-box; padding: 0 10px; height: 40px; text-align: center; line-height: 40px; font-size: 14px; color: #666; border: 1px solid currentColor; border-radius: 0.125rem; background-color: #fff; }
.bottom-checkout .btn-default {color: #fff; border-color: #c10c00; background-color: #c10c00; }
.bottom-checkout .btn-outline {color: #c10c00; border-color: currentColor; }

.icon-back {display: inline-block; width: 25px; height: 25px; line-height: normal; background: url(../images/icon-back-outline.png) no-repeat center center / 100% auto; }

.header {overflow: hidden; height: 45px; background-color: #fff; width: 100%; max-width: 100%; position: fixed; right: 0; top: 0; z-index: 20; line-height: 45px; border-bottom: 1px solid #e6e6e6; }
.header .title {color: #333; }
.header .action, .header .action-link {display: inline-block; padding: 0 12px; }
.header .action {font-size: 0; }
.header .icon-back {margin-top: 10px; }
.header ~ .main {padding-top: 45px; }

.m-cart {padding-bottom: 160px; }

.m-cart .bottom-checkout .detail {margin-left: 60px;}
.m-cart .bottom-checkout .total { font-size: 12px; }
.m-cart .bottom-checkout .action { padding: 0 10px; }
