.layer-bg { position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 9999; background-color: rgba(0,0,0,0.7); width: 100%; height: 100%; }
.share-code { position: absolute; top: 50%; left: 50%; width: 27.0rem; margin-left: -13.5rem; margin-top: -20.7rem; }
.share-code .cont { background-color: #fff; padding: 1.5rem; margin-bottom: 1.0rem; }
.share-code .shop-info { height: 2rem; }
.share-code .shop-name { margin-left: 2rem; line-height: 2.0rem; font-size: 1.4rem; color: black; }
.elli { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.share-code .code { width: 20.75rem; height: 20.75rem; margin: 3rem auto 1.75rem; overflow: hidden; }
.share-code .code img { width: 100%; height: auto; }
.share-code .cont .tip { line-height: 2.0rem; text-align: center; font-size: 1.1rem; color: #999; }
.qr{display: block; float: right; }
.qr img { width: 2.4rem; height: 2.4rem; }