.integral-enjoy-main {padding-top: 1.40625rem; font-family: PingFangSC-Regular;}
.integral-enjoy-main .dt {width: 9.25rem; height: 1.40625rem; padding-left: 0.46875rem; font-family: .PingFangSC-Light; font-size: 14px; color: #333; line-height: 1.40625rem; margin: 0.34375rem auto; border-radius: 0.125rem; background: #fff; position: relative;}
[data-dpr="2"] .integral-enjoy-main .dt {font-size: 28px;}
[data-dpr="3"] .integral-enjoy-main .dt {font-size: 42px;}
.integral-enjoy-main .dt::before {display: block; content: ''; width: 0.234375rem; height: 100%; background: url(../images/jifen-dt-icon.png) no-repeat center center / 0.234375rem 0.84375rem; position: absolute; top: 0; left: -0.09375rem;}
.integral-enjoy-main .dt span {padding-left: 0.46875rem; font-family: .PingFang-SC-Medium; font-size: 18px;}
[data-dpr="2"] .integral-enjoy-main .dt span {font-size: 36px;}
[data-dpr="3"] .integral-enjoy-main .dt span {font-size: 54px;}

.integral-enjoy-main .dd {padding-left: 3.6875rem; background: #fff;}
.integral-enjoy-main .dd .item {height: 3.90625rem; padding: 0.390625rem 0.390625rem 0 0.15625rem; border-bottom: 1px solid #eee; position: relative;}
.integral-enjoy-main .dd .item .pic {display: block; width: 3.125rem; height: 3.125rem; position: absolute; top: 0.34375rem; left: -3.359375rem; border: 1px solid #EEEEEE;}
.integral-enjoy-main .dd .item .pic img {display: block; width: 100%; height: 100%;}
.integral-enjoy-main .dd .item .name {max-height: 1.125rem; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; -webkit-line-clamp: 2; -moz-line-clamp: 2; -ms-line-clamp: 2; -o-line-clamp: 2; -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; overflow: hidden; font-size: 14px; line-height: 0.53125rem;}
[data-dpr="2"] .integral-enjoy-main .dd .item .name {font-size: 28px;}
[data-dpr="3"] .integral-enjoy-main .dd .item .name {font-size: 42px;}
.integral-enjoy-main .dd .item .number {padding-top: 0.390625rem; color: #666666; font-size: 12px;}
[data-dpr="2"] .integral-enjoy-main .dd .item .number {font-size: 24px;}
[data-dpr="3"] .integral-enjoy-main .dd .item .number {font-size: 36px;}
.integral-enjoy-main .dd .item .integral-number {color: #FF6B00; font-size: 13px; position: absolute; bottom: 0.5625rem; left: 0.15625rem;}
[data-dpr="2"] .integral-enjoy-main .dd .item .integral-number {font-size: 26px;}
[data-dpr="3"] .integral-enjoy-main .dd .item .integral-number {font-size: 39px;}
.integral-enjoy-main .dd .item .integral-number span {font-size: 16px; }
[data-dpr="2"] .integral-enjoy-main .dd .item .integral-number span {font-size: 32px;}
[data-dpr="3"] .integral-enjoy-main .dd .item .integral-number span {font-size: 48px;}
.integral-enjoy-main .dd .item .btn01, .integral-enjoy-main .dd .item .btn02 {display: block; width: 2.34375rem; height: 0.875rem; font-size: 13px; line-height: 0.875rem; text-align: center; color: #FF6B00; background: #FFFFFF; border: 1px solid #FF6B00; border-radius: 0.0625rem; position: absolute; right: 0.390625rem; bottom: 0.4375rem;}
[data-dpr="2"] .integral-enjoy-main .dd .item .btn01, [data-dpr="2"] .integral-enjoy-main .dd .item .btn02 {font-size: 26px;}
[data-dpr="3"] .integral-enjoy-main .dd .item .btn01, [data-dpr="3"] .integral-enjoy-main .dd .item .btn02 {font-size: 36px;}
.integral-enjoy-main .dd .item .btn02 {border-color: #E5E5E5; color: #BFBFBF;}