body { padding: 1.71875rem 0 1.875rem; }

.rem-time { width: 5.09375rem; height: 0.9375rem; line-height: 0.9375rem; text-align: center; border-radius: 0.46875rem; background-color: rgba(0, 0, 0, 0.6); position: fixed; left: 50%; color: #fff; margin-left: -2.546875rem; font-size: 12px; top: 1.875rem; z-index: 21; }
[data-dpr="2"] .rem-time { font-size: 24px; }
[data-dpr="3"] .rem-time { font-size: 36px; }

.rem-get { width: 4.6875rem; height: 1.5625rem; line-height: 1.5625rem; text-align: center; border-radius: 0.09375rem; color: #fff; position: fixed; left: 50%; top: 7.5rem; margin-left: -2.34375rem; font-size: 13px; background-color: rgba(0, 0, 0, 0.6); z-index: 21; }
[data-dpr="2"] .rem-get { font-size: 26px; }
[data-dpr="3"] .rem-get { font-size: 39px; }

.dt-main .product-tab { background-color: #fff; padding-top: 0.46875rem; padding-bottom: 0.3125rem; }
.dt-main .swiper-slide { width: 7.1875rem; }
.dt-main .swiper-slide img { width: 100%; height: auto; }
.dt-main .swiper-container-horizontal > .swiper-pagination-bullets { bottom: 0.15625rem; }
.dt-main .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 0.078125rem; }
.dt-main .swiper-pagination-bullet { width: 0.125rem; height: 0.125rem; background-color: #fff; border: 1px solid #FF6B00; border-radius: 50%; }
.dt-main .swiper-pagination-bullet-active { background-color: #FF6B00; }
.dt-main .product-info { background-color: #fff; padding: 0.375rem; position: relative; }
.dt-main .product-info .price { display: inline-block; height: 0.9375rem; padding-right: 0.3125rem; font-size: 0.59375rem; line-height: 0.9375rem; color: #FF6B00; }
.dt-main .product-info .price span { font-size: 22px; }
[data-dpr="2"] .dt-main .product-info .price span { font-size: 44px; }
[data-dpr="3"] .dt-main .product-info .price span { font-size: 66px; }
.dt-main .product-info .market-price { display: inline-block; height: 0.9375rem; font-size: 0.34375rem; line-height: 0.9375rem; color: #AAAEB9; }
.dt-main .product-info .name { display: block; width: 7.5rem; max-height: 1.25rem; padding-top: 0.0625rem; overflow: hidden; font-size: 15px; color: #0C1828; }
[data-dpr="2"] .dt-main .product-info .name { font-size: 30px; }
[data-dpr="3"] .dt-main .product-info .name { font-size: 45px; }
.dt-main .product-info .name span { padding-left: 0.1875rem; padding-right: 0.1875rem; margin-right: 0.15625rem; font-size: 0.28125rem; color: #6E727A; background: #f2f2f7; }
.dt-main .product-info .action { padding-top: 0.1875rem; font-size: 12px; line-height: 0.53125rem; color: #FF5B53; }
[data-dpr="2"] .dt-main .product-info .action { font-size: 24px; }
[data-dpr="3"] .dt-main .product-info .action { font-size: 36px; }
.dt-main .product-info .collect { display: block; width: 1.5625rem; height: 1.25rem; padding-top: 0.78125rem; border-left: 1px solid #ddd; position: absolute; right: 0.28125rem; top: 0.9375rem; font-size: 10px; color: #666; text-align: center; }
[data-dpr="2"] .dt-main .product-info .collect { font-size: 20px; }
[data-dpr="3"] .dt-main .product-info .collect { font-size: 30px; }
.dt-main .product-info .collect em { display: block; width: 0.5625rem; height: 0.546875rem; position: absolute; top: 0.1875rem; left: 0.5rem; background: url(../images/shoucang.png) no-repeat 0 0/0.5625rem auto; }
.dt-main .product-info .collect-active em { background: url(../images/shoucang_s.png) no-repeat 0 0/0.5625rem auto; }
.dt-main .slogen { width: 100%; height: 1.25rem; background: #F6F7F9; overflow: hidden; border-bottom: 1px solid #ccc; }
.dt-main .slogen > li { width: 2.4375rem; height: 1.25rem; padding-left: 0.875rem; float: left; position: relative; font-size: 11px; line-height: 1.25rem; color: #676C74; }
[data-dpr="2"] .dt-main .slogen > li { font-size: 22px; }
[data-dpr="3"] .dt-main .slogen > li { font-size: 33px; }
.dt-main .slogen > li:before { display: block; content: ''; width: 0.375rem; height: 0.375rem; background: url(../images/baozhang.png) no-repeat 0 0/0.375rem 0.375rem; position: absolute; top: 0.4375rem; left: 0.40625rem; }
.dt-main .coupon-box { background-color: #fff; height: 1.71875rem; margin-top: 0.3125rem; padding-left: 1.5rem; position: relative; }
.dt-main .coupon-box span { display: inline-block; width: 1.5rem; height: 1.71875rem; padding-left: 0.4rem; font-size: 13px; line-height: 1.71875rem; color: #656B74; position: absolute; left: 0; top: 0; }
[data-dpr="2"] .dt-main .coupon-box span { font-size: 26px; }
[data-dpr="3"] .dt-main .coupon-box span { font-size: 39px; }
.dt-main .coupon-box .coupon-redemption { padding-top: 0.28125rem; }
.dt-main .coupon-box .swiper-wrapper { position: relative; }
.dt-main .coupon-box a { display: inline-block; width: auto !important; height: 1.15625rem; padding-left: 0.34375rem; padding-right: 0.34375rem; font-size: 13px; line-height: 1.15625rem; color: #fff; white-space: nowrap; margin-right: 0.3125rem; background-image: linear-gradient(-269deg, #ff6600 0%, #ff9200 100%); }
[data-dpr="2"] .dt-main .coupon-box a { font-size: 26px; }
[data-dpr="3"] .dt-main .coupon-box a { font-size: 39px; }
.dt-main .coupon-box a:last-child { margin-right: 0.625rem; }
.dt-main .coupon-box a::after, .dt-main .coupon-box a::before { display: block; content: ''; width: 0.3125rem; height: 0.3125rem; border-radius: 50%; background: #fff; position: absolute; top: 50%; left: -0.15625rem; margin-top: -0.15625rem; }
.dt-main .coupon-box a::before { left: auto; right: -0.15625rem; }
.dt-main .promotion { background-color: #fff; padding: 0 1.5rem 0.375rem 1.5rem; position: relative; font-size: 13px; border-top: 1px solid #e5e5e5; }
[data-dpr="2"] .dt-main .promotion { font-size: 26px; }
[data-dpr="3"] .dt-main .promotion { font-size: 39px; }
.dt-main .promotion .title { position: absolute; top: 0.3125rem; left: 0.4rem; color: #656B74; }
.dt-main .promotion p { padding-top: 0.3125rem; color: #0C1828; }
.dt-main .promotion p span { padding-left: 0.125rem; padding-right: 0.125rem; color: #FF6B00; font-size: 10px; margin-right: 0.25rem; background: rgba(255, 102, 0, 0.1); border: 1px solid rgba(255, 107, 0, 0.6); border-radius: 0.046875rem; }
[data-dpr="2"] .dt-main .promotion p span { font-size: 20px; }
[data-dpr="3"] .dt-main .promotion p span { font-size: 30px; }
.dt-main .promotion .more { display: block; width: 1.25rem; height: 1.25rem; position: absolute; right: 0.3125rem; top: 0; background: url(../images/cuxiao.png) no-repeat center center/0.53125rem 0.09375rem; }
.dt-main .mbox { margin-top: 0.3125rem; background-color: #fff; }
.dt-main .mbox .coupon { position: relative; height: 1.71875rem; padding-left: 1.71875rem; }
.dt-main .mbox .coupon span { display: block; width: 1.71875rem; text-align: center; position: absolute; left: 0; top: 0; line-height: 1.71875rem; color: #656B74; font-size: 13px; }
[data-dpr="2"] .dt-main .mbox .coupon span { font-size: 26px; }
[data-dpr="3"] .dt-main .mbox .coupon span { font-size: 39px; }
.dt-main .goods-part { margin-top: 0.3125rem; background-color: #fff; height: 5.0rem; padding: 0.3125rem 0 0 0.4375rem; }
.dt-main .goods-part .mt { height: 1.09375rem; overflow: hidden; }
.dt-main .goods-part .mt .pic { width: 1.09375rem; height: 1.09375rem; border: 1px solid #E5E5E5; overflow: hidden; float: left; margin-right: 0.3125rem; }
.dt-main .goods-part .mt .pic img { width: 100%; height: 100%; }
.dt-main .goods-part .mt .name { padding-top: 0.078125rem; color: #0C1828; float: left; font-size: 13px; }
[data-dpr="2"] .dt-main .goods-part .mt .name { font-size: 26px; }
[data-dpr="3"] .dt-main .goods-part .mt .name { font-size: 39px; }
.dt-main .goods-part .mc { padding-top: 0.46875rem; height: 2.265625rem; }
.dt-main .goods-part .mc .item { width: 25%; float: left; text-align: center; padding-top: 0.125rem; height: 1.09375rem; border-right: 1px solid #E5E5E5; }
.dt-main .goods-part .mc .item i { color: #0C1828; display: block; font-size: 14px; }
[data-dpr="2"] .dt-main .goods-part .mc .item i { font-size: 28px; }
[data-dpr="3"] .dt-main .goods-part .mc .item i { font-size: 42px; }
.dt-main .goods-part .mc .item span { color: #7C7F82; font-size: 11px; }
[data-dpr="2"] .dt-main .goods-part .mc .item span { font-size: 22px; }
[data-dpr="3"] .dt-main .goods-part .mc .item span { font-size: 33px; }
.dt-main .goods-part .mc .gmk { width: 25%; float: left; line-height: 1.7; text-align: center; }
.dt-main .goods-part .mc .gmk span { display: block; color: #7C7F82; font-size: 10px; }
[data-dpr="2"] .dt-main .goods-part .mc .gmk span { font-size: 20px; }
[data-dpr="3"] .dt-main .goods-part .mc .gmk span { font-size: 30px; }
.dt-main .goods-part .mc .gmk span i { color: #FF6600; }
.dt-main .goods-part .md { text-align: center; }
.dt-main .goods-part .md a { display: inline-block; width: 2.5rem; text-align: center; height: 0.8125rem; color: #39404C; margin: 0 0.15625rem; font-size: 12px; line-height: 0.8125rem; border: 1px solid #5A6576; border-radius: 0.0625rem; }
[data-dpr="2"] .dt-main .goods-part .md a { font-size: 24px; }
[data-dpr="3"] .dt-main .goods-part .md a { font-size: 36px; }
.dt-main .goods-part .md .selected { color: #FF6600; border: 1px solid #FF6600; }
.dt-main .dt-tabs { margin-top: 0.3125rem; background-color: #fff; }
.dt-main .dt-tabs .mt { border-bottom: 1px solid #E5E5E5; }
.dt-main .dt-tabs .mt ul { height: 1.375rem; overflow: hidden; }
.dt-main .dt-tabs .mt li { float: left; position: relative; height: 1.375rem; }
.dt-main .dt-tabs .mt a { display: block; height: 1.375rem; line-height: 1.296875rem; text-align: center; color: #333; font-size: 14px; overflow: hidden; }
[data-dpr="2"] .dt-main .dt-tabs .mt a { font-size: 28px; }
[data-dpr="3"] .dt-main .dt-tabs .mt a { font-size: 42px; }
.dt-main .dt-tabs .mt span { display: inline-block; height: 0.40625rem; line-height: 0.40625rem; color: #fff; border-radius: 0.203125rem; padding: 0 0.15625rem; background-color: #FF6B00; position: absolute; left: 60%; top: 0.1875rem; font-size: 11px; }
[data-dpr="2"] .dt-main .dt-tabs .mt span { font-size: 22px; }
[data-dpr="3"] .dt-main .dt-tabs .mt span { font-size: 33px; }
.dt-main .dt-tabs .mt .cur a { color: #FF6B00; border-bottom: 0.078125rem solid #FF6B00; }
.dt-main .dt-tabs .mc { padding-bottom: 0.3125rem; }
.dt-main .dt-tabs .mc .pic-box { text-align: center; }
.dt-main .dt-tabs .mc .pic-box img { max-width: 100%; height: auto; }
.dt-main .dt-tabs .mc .parameter-box { padding-left: 0.46875rem; }
.dt-main .dt-tabs .mc .parameter-box .item { min-height: 1.40625rem; padding-left: 2.5rem; position: relative; border-bottom: 1px solid #eee; }
.dt-main .dt-tabs .mc .parameter-box .item p { width: 95%; padding: 0.390625rem 0; line-height: 0.625rem; color: #43474C; font-size: 14px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .parameter-box .item p { font-size: 28px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .parameter-box .item p { font-size: 42px; }
.dt-main .dt-tabs .mc .parameter-box .item span { display: block; width: 2.5rem; text-align: left; height: 1.40625rem; line-height: 1.40625rem; color: #AAAEB9; font-size: 14px; overflow: hidden; position: absolute; left: 0; top: 0; }
[data-dpr="2"] .dt-main .dt-tabs .mc .parameter-box .item span { font-size: 28px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .parameter-box .item span { font-size: 42px; }
.dt-main .dt-tabs .mc .shuoms-box { padding-top: 0.234375rem; }
.dt-main .dt-tabs .mc .shuoms-box .item { min-height: 1.09375rem; padding-left: 3.4375rem; position: relative; }
.dt-main .dt-tabs .mc .shuoms-box .item p { width: 95%; padding: 0.234375rem 0; line-height: 0.625rem; color: #444444; font-size: 14px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .shuoms-box .item p { font-size: 28px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .shuoms-box .item p { font-size: 42px; }
.dt-main .dt-tabs .mc .shuoms-box .item span { display: block; width: 2.8125rem; text-align: left; height: 1.09375rem; line-height: 1.09375rem; color: #444444; font-size: 14px; overflow: hidden; position: absolute; left: 0.625rem; top: 0; }
[data-dpr="2"] .dt-main .dt-tabs .mc .shuoms-box .item span { font-size: 28px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .shuoms-box .item span { font-size: 42px; }
.dt-main .dt-tabs .mc .pingjia-box .mt { height: 1.71875rem; padding: 0.40625rem 0.234375rem 0 0.234375rem; border-bottom: 1px solid #E5E5E5; }
.dt-main .dt-tabs .mc .pingjia-box .mt a { display: inline-block; margin-right: 0.234375rem; padding: 0 0.234375rem; height: 0.875rem; line-height: 0.875rem; border-radius: 0.03125rem; background-color: #F2F2F7; color: #373C47; font-size: 12px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .pingjia-box .mt a { font-size: 24px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .pingjia-box .mt a { font-size: 36px; }
.dt-main .dt-tabs .mc .pingjia-box .mt .cur { background-color: #FF6B00; color: #fff; }
.dt-main .dt-tabs .mc .pingjia-box .mc { padding: 0 0.40625rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item { padding: 0.5rem 0 0.46875rem; border-bottom: 1px solid #E5E5E5; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top { height: 0.9375rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .pic { width: 0.9375rem; height: 0.9375rem; margin-right: 0.3125rem; float: left; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .pic img { width: 0.9375rem; height: 0.9375rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name { float: left; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name span { color: #4D5053; font-size: 12px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name span { font-size: 24px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name span { font-size: 36px; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .comment-item-star { margin-top: 0.078125rem; display: block; width: 1.57rem; height: 0.3125rem; background: url("../images/xingxing.png") repeat-x 0 0/0.3125rem auto; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .real-star { display: block; height: 0.3125rem; background: url("../images/xingxing-s.png") repeat-x 0 0/0.3125rem auto; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .comment-stars-width1 { width: 0.3125rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .comment-stars-width2 { width: 0.625rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .comment-stars-width3 { width: 0.9375rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .comment-stars-width4 { width: 1.25rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top .user-name .comment-stars-width5 { width: 1.5625rem; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top em { float: right; color: #999999; height: 0.9375rem; line-height: 0.9375rem; font-size: 11px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top em { font-size: 22px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .pingjia-box .mc .item .mc-top em { font-size: 33px; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item p { color: #4B5963; margin-top: 0.46875rem; line-height: 0.5625rem; font-size: 13px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .pingjia-box .mc .item p { font-size: 26px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .pingjia-box .mc .item p { font-size: 39px; }
.dt-main .dt-tabs .mc .pingjia-box .mc .item .reply { margin-top: 0.15625rem; padding: 0.3125rem 0.3125rem; line-height: 0.625rem; background-color: #FAFAFA; color: #3F4449; font-size: 13px; }
[data-dpr="2"] .dt-main .dt-tabs .mc .pingjia-box .mc .item .reply { font-size: 26px; }
[data-dpr="3"] .dt-main .dt-tabs .mc .pingjia-box .mc .item .reply { font-size: 39px; }

.qk-nav { width: 1.375rem; height: 1.375rem; position: fixed; right: 0.3125rem; bottom: 2.65625rem; z-index: 20; }
.qk-nav span { display: block; position: absolute; left: 0; top: 0; width: 1.375rem; height: 1.375rem; line-height: 0.46875rem; color: #3C474E; padding: 0.21rem 0.234375rem 0 0.234375rem; text-align: center; background-color: rgba(255, 255, 255, 0.9); border-radius: 50%; box-shadow: 0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.16); z-index: 21; font-size: 11px; }
[data-dpr="2"] .qk-nav span { font-size: 22px; }
[data-dpr="3"] .qk-nav span { font-size: 33px; }
.qk-nav .mask-layer { position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 20; background: rgba(0, 4, 14, 0.3); }
.qk-nav .qk-box a { display: block; width: 1.375rem; height: 1.375rem; position: absolute; z-index: 21; }
.qk-nav .qk-box a img { width: 1.375rem; height: 1.375rem; }
.qk-nav .qk-box .m-index { left: 0; top: -2.34375rem; }
.qk-nav .qk-box .m-search { left: -1.671875rem; top: -1.71875rem; }
.qk-nav .qk-box .m-my { left: -2.390625rem; top: 0; }
.qk-nav .qk-box .m-share { left: -1.671875rem; top: 1.71875rem; }

.share-layer { position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); z-index: 20; }

.share-layer .share-box { display: block; width: 6.09375rem; height: 2.90625rem; position: absolute; top: 0.15625rem; right: 0.46875rem; z-index: 22; }

.share-layer .share-box img { width: 6.09375rem; height: 2.90625rem; }

.dt-bot { position: fixed; left: 0; bottom: 0; right: 0; z-index: 10; text-align: center; height: 1.5625rem; background-color: #fff; padding-left: 3.4375rem; }
.dt-bot .zx-btn { display: block; width: 1.71875rem; height: 1.5625rem; padding-top: 0.9375rem; color: #333; font-size: 11px; overflow: hidden; position: absolute; left: 0; top: 0; background: transparent url("../images/shouqianzixun.png") no-repeat center 0.28125rem/0.53125rem auto; }
[data-dpr="2"] .dt-bot .zx-btn { font-size: 22px; }
[data-dpr="3"] .dt-bot .zx-btn { font-size: 33px; }
.dt-bot .my-cart { display: block; width: 1.71875rem; height: 1.5625rem; padding-top: 0.9375rem; color: #333; font-size: 11px; overflow: hidden; position: absolute; left: 1.71875rem; top: 0; background: transparent url("../images/gouwuche.png") no-repeat center 0.25rem/auto 0.53125rem; }
[data-dpr="2"] .dt-bot .my-cart { font-size: 22px; }
[data-dpr="3"] .dt-bot .my-cart { font-size: 33px; }
.dt-bot .cart { float: left; display: block; width: 50%; height: 1.5625rem; line-height: 1.5625rem; color: #fff; font-size: 16px; background-color: #FF8F00; }
[data-dpr="2"] .dt-bot .cart { font-size: 32px; }
[data-dpr="3"] .dt-bot .cart { font-size: 48px; }
.dt-bot .buy { float: left; display: block; width: 50%; height: 1.5625rem; line-height: 1.5625rem; color: #fff; font-size: 16px; background-color: #FF6B00; }
[data-dpr="2"] .dt-bot .buy { font-size: 32px; }
[data-dpr="3"] .dt-bot .buy { font-size: 48px; }

/*# sourceMappingURL=detail.css.map */
