@charset "utf-8";

.leftmenu_left_border{
    border-left:1px solid #D4D4D4;
}
.leftmenu_right_border{
    border-right:1px solid #D4D4D4;
}

.leftmenu_h3_border{
    border:1px solid #D4D4D4;
}
.rightbox_h2_border{
    border:1px solid #D4D4D4;
}
.right_box_border{
    border-left:1px solid #D4D4D4; border-right:1px solid #D4D4D4; border-bottom:1px solid #D4D4D4;
}

