
.header .topbar .w{width: 980px;}
.header .logobar{width: 980px;}
.header .navbar .w{width: 980px;}
.topbar .fl strong{font-weight: normal;color: #666;}
.logobar form{width: 360px;margin-left: 35px;}
.logobar form .inp{width: 230px;}
.logobar form .btn{width: 95px;}

.category .dd{display: none;}
.category:hover .dd{display: block;}
.category .dd .li .con{display: none;}

.main{width: 980px;margin:0 auto;margin-bottom:100px;clear: both;}
.main .crumb{margin-bottom: 10px; line-height: 44px;color: #666;border-bottom: 2px solid #e3e3e3;}

.main .left{float: left;width: 178px;margin-right: 10px; border: 1px solid #d4d4d4;border-top: 3px solid #4593fd;}
.main .left h3{height: 35px;font-size: 14px; line-height: 35px;padding-left: 15px;}
.main .left .info{padding: 10px 20px;color: #000; background-color: #f8f8f8;}
.main .left .info .i01{color: #f65;font-weight: bold; line-height: 30px;}
.main .left .info .i04 em{color: #00f;font-style: normal;}
.main .left dt{height: 28px;padding-left:15px;line-height: 28px;color: #000;font-weight: bold;background:url(../images/dt_bg.png);border-top: 1px solid #d4d4d4;border-bottom: 1px solid #d4d4d4;}
.main .left dd a{display: block;height: 30px;padding-left:15px;color:#333;line-height: 30px;overflow: hidden;}
.main .left dd a:hover{color: #f65;}

.main .right{float: left;width: 790px;}
.main .right .tit{height: 35px;line-height: 35px;color: #000;font-size: 14px;font-family: Simsun; overflow: hidden;}
.main .right .tit a{float: left;width: 124px;height: 35px;text-align: center;color: #000;font-weight: bold;}
.main .right .tit a i{position: relative;top: 5px;left: 41px; display:inline-block;width: 1px;height: 20px;background-color:#dfdfdf;}
.main .right .tit a.cur{background:url(../images/tit_bg.png) no-repeat;}
.main .right .tit a.cur i{background-color:#fff;}
.main .right .s-tit{width: 788px;height: 32px;margin-bottom: 10px; line-height: 32px; background-color: #f3f3f3; border: 1px solid #dfdfdf;overflow: hidden;}
.main .right .s-tit span{float: left;display: block;}
.main .right .s-tit .tit01{width: 210px;padding-left:37px;}
.main .right .s-tit .tit02{width: 125px;text-align: center;}
.main .right .s-tit .tit03{width: 65px;text-align: center;}
.main .right .s-tit .tit04{width: 130px;text-align: center;}
.main .right .s-tit .tit05{width: 94px;text-align: center;}
.main .right .s-tit .tit06{width: 116px;text-align: center;}
.main .right .item{width: 788px;margin-bottom: 15px; border: 1px solid #dfdfdf;}
.main .right .item .i-tit{height: 32px;line-height: 32px;font-weight: bold;border-bottom: 1px solid #dfdfdf;background-color: #f3f3f3;}
.main .right .item .i-tit strong{margin-left: 35px;margin-right: 20px;}
.main .right .item .i-tit a{font-weight: normal;margin-left: 262px;}
.main .right .item .i-tit a:hover{text-decoration: underline;}
.main .right .item .i-con {min-height: 56px;overflow: hidden;line-height:56px;font-family: Simsun;}
.main .right .item .i-con div{float: left; display: inline-block;}
.main .right .item .i-con .con01{width: 247px;height: 50px; padding: 3px;overflow: hidden;}
.main .right .item .i-con .con01 a{float: left; display: inline-block;width: 50px;height: 50px;margin-right: 15px; overflow: hidden;}
.main .right .item .i-con .con01 a img{float:left;display: inline-block;width: 50px;height: 50px;overflow: hidden;}
.main .right .item .i-con .con01 em{font-style: normal;font-weight: bold;}
.main .right .item .i-con .con02{width: 125px;text-align: center; font-family: Verdana;}
.main .right .item .i-con .con03{width: 65px;text-align: center; font-family: Verdana;border-right: 1px solid #dfdfdf;}
.main .right .item .i-con .con04{width: 130px;text-align: center; font-family: Verdana;color: #a80000; border-right: 1px solid #dfdfdf;}
.main .right .item .i-con .con05{width: 94px;text-align: center;font-weight: bold; border-right: 1px solid #dfdfdf;}
.main .right .item .i-con .con06{width: 116px;text-align: center;}
.main .right .item-nopay .i-con .con06{line-height: 27px;}
.main .right .item .i-con .con06 a:hover{text-decoration: underline;}
.main .right .item .i-con .con06 a.btn{display: block;width: 75px;height: 25px;margin-left: 22px;text-indent: -9999px; background: url(../images/btn03.png) no-repeat;}
.main .right .item .i-con .no-use{color: #a80000;}
.main .right .item .i-con .no-pay{color: #a80000;}

.main .right .item-cancel .i-tit i{position: relative;top: 7px;left: 0; display:inline-block;width: 20px;height:20px;margin-left: 300px; background: url(../images/rubbish.png) no-repeat;}
.main .right .item-used .i-tit i{position: relative;top: 7px;left: 0; display:inline-block;width: 20px;height:20px;margin-left: 300px; background: url(../images/rubbish.png) no-repeat;}
.main .right .item-tui .i-tit i{position: relative;top: 7px;left: 0; display:inline-block;width: 20px;height:20px;margin-left: 300px; background: url(../images/rubbish.png) no-repeat;}