.checkbox {display: block; width: 0.625rem; height: 100%; border-radius: 50%; background: url(../images/gouxuan.png) no-repeat center center / 0.59375rem 0.59375rem;}
.checkbox-active {background-image: url(../images/gouxuan_s.png);}

.coupons-main {padding-top: 1.40625rem; padding-bottom: 2.03125rem; font-family: PingFangSC-Regular; background: #eceef1;}
.coupons-main .item {height: 3.4375rem; margin: 0.46875rem 0.46875rem 0 0.46875rem; background: #fff;}
.coupons-main .item .item-l {width: 3.75rem; height: 100%; padding-top: 0.546875rem; color: #fff; text-align: center; background: url(../images/quanbeijing.png) no-repeat 0 0 / 100% 100%; float: left;}
.coupons-main .item .item-l .price {height: 1.5625rem; font-size: 20px; line-height: 1.5625rem; color: #fff;}
[data-dpr="2"] .coupons-main .item .item-l .price {font-size: 40px;}
[data-dpr="3"] .coupons-main .item .item-l .price {font-size: 60px;}
.coupons-main .item .item-l .price span {padding-right: 0.03125rem; font-size: 9px;}
[data-dpr="2"] .coupons-main .item .item-l .price span {font-size: 18px;}
[data-dpr="2"] .coupons-main .item .item-l .price span {font-size: 27px;}
.coupons-main .item .item-l .precondition-price {font-family: PingFangSC-Regular; font-size: 13px;}
[data-dpr="2"] .coupons-main .item .item-l .precondition-price {font-size: 26px;}
[data-dpr="3"] .coupons-main .item .item-l .precondition-price {font-size: 39px;}
.coupons-main .item .item-r {width: 5.3125rem; height: 100%; float: left; position: relative; padding: 0.46875rem 0.46875rem 0 0.46875rem;}
.coupons-main .item .item-r .precondition-name {min-height: 1.0625rem; margin-bottom: 0.125rem; font-family: .PingFang-SC-Medium; font-size: 14px; line-height: 0.53125rem; color: #545F6C;}
[data-dpr="2"] .coupons-main .item .item-r .precondition-name {font-size: 28px;}
[data-dpr="3"] .coupons-main .item .item-r .precondition-name {font-size: 42px;}
.coupons-main .item .item-r .date {font-size: 12px; line-height: 0.5625rem; color: #A4ACB6;}
[data-dpr="2"] .coupons-main .item .item-r .date {font-size: 24px;}
[data-dpr="3"] .coupons-main .item .item-r .date {font-size: 36px;}
.coupons-main .item .item-r .checkbox {height: 0.59375rem; position: absolute; right: 0.46875rem; bottom: 0.3125rem;}
.coupons-main .coupons-btn {display: block; width: 100%; height: 1.5625rem; background: #FF6B00; position: fixed; bottom: 0; left: 0; z-index: 20; font-size: 16px; line-height: 1.5625rem; text-align: center; color: #fff;}
[data-dpr="2"] .coupons-main .coupons-btn {font-size: 32px;}
[data-dpr="3"] .coupons-main .coupons-btn {font-size: 48px;}