@charset "utf-8";




#list .l .m4 h3,#list .r .searchIf p a,#list .r h6 .Sort .inset a,#list .r h6 .Sort .inPrice a,#list .r h6 .Sort .s_Time a,#list .l h1,#list .warp .new h2{ background:url(../images/list_bg.png) repeat-x;}




/*列表页*/

#list{ width:1190px; overflow:hidden; margin:10px auto 0;}
#list .l{ float:left; width:210px; margin-right:10px;}
#list .l h1{ height:30px; overflow:hidden; background-position:0 -35px;border:1px solid #e6e2e1; border-bottom:0; line-height:30px; color:#666; padding-left:10px; font-size:14px; font-weight:bold;}

#list .l .m1{ width:230px; overflow:hidden;}
#list .l .m1 h1{border:1px solid #dbdbdb;}
#list .l .m1 h1 a:hover{color:#c00;}
#list .l .m1 .box{ width:230px; overflow:hidden; padding-top:0px;}
#list .l .m1 .box h2{ width:208px; overflow:hidden; border:1px solid #dbdbdb; line-height:20px; border-bottom:0;border-top:0; padding:8px 0 4px 20px;}
#list .l .m1 .box h2 a{ font-weight:bold; color:#999;padding: 3px 10px;}
#list .l .m1 .box h2 a:hover{background-color:#FF6B05;color:#fff; }
#list .l .m1 .box dl{ width:228px; overflow:hidden; border:1px solid #dbdbdb; border-top:0;padding-bottom:12px;}
#list .l .m1 .box dl dd{ float:left; width:84px; overflow:hidden; display:inline; padding-left:30px; height:20px; line-height:20px;}
#list .l .m1 .box dl dd a{ color:#999;padding: 3px 10px;}
#list .l .m1 .box dl dd a:hover{color:#c00;}
#list .l .m1 .box ul{ width:188px; overflow:hidden; border:1px solid #ddd4cc; background:#f0e9e1; border-top:0;border-bottom:0; }
#list .l .m1 .box ul li{ float:left; display: inline; width:94px; overflow:hidden; height:32px; line-height:20px; border-bottom:1px solid #ddd4cc; border-top:1px solid #fcf5eb;}
#list .l .m1 .box ul li a{ display:block; width:84px; padding-left:10px; height:32px; line-height:32px; overflow:hidden; color:#af9778;}
#list .l .m1 .box ul li a:hover,#list .l .m1 .box ul li a.cur{ background:#af9778; color:#f0e9e1; text-decoration:none;}




#list .l .banner{ width:228px; height:255px; overflow:hidden; margin-top:10px;}

#list .r{ float:left; width:940px; overflow:hidden; padding-bottom:15px;margin-left: 15px;}
#list .r .selBox{ width:760px; overflow:hidden;}
#list .r .selBox .result{width:760px; overflow:hidden; background:#ebe8e7;}
#list .r .selBox .result label{ float:left; width:75px; padding-left:15px; overflow:hidden; line-height:32px; color:#806f66;}
#list .r .selBox .result .s_list_result{ float:left; width:650px; overflow:hidden;}
#list .r .selBox .result .s_list_result ul li{ float:left; display:inline;padding-left:12px; padding-top:7px;}
#list .r .selBox .result .s_list_result ul li a{line-height:18px; color:#3265cc;}
#list .r .selBox .s_more{ position:absolute; right:10px; bottom:10px;}
#list .r .selBox .s_more img{ vertical-align:middle;}
#list .r .selBox .s_more a{ color:#806f66;}

#list .r .selBox .sel{width:758px; overflow:hidden; border:1px solid #e6e2e1; border-top:0; border-bottom:3px solid #ebe8e7; background:url(../images/exchange_line01.gif) repeat-y;}
#list .r .selBox .sel .fixBox{ width:758px; overflow:hidden; position:relative; z-index:1;border-top:1px solid #e6e2e1; padding-bottom:4px;}
#list .r .selBox .sel .fixBox label{ float:left; width:75px; overflow:hidden; padding-left:15px; line-height:32px; background:#f7f5f5; color:#806f66;}
#list .r .selBox .sel .fixBox .s_sbuj{ float:left; width:600px; overflow:hidden;}
#list .r .selBox .sel .fixBox .s_sbuj ul li{ float:left; display:inline; line-height:18px; margin-top:6px; padding-left:10px; margin-right:10px;}
#list .r .selBox .sel .fixBox .s_sbuj ul li a{ color:#806f66; vertical-align:middle;}
#list .r .selBox .sel .fixBox .s_sbuj ul li span{ color:#b4aaa4;}
#list .r .selBox .sel .fixBox .s_sbuj ul li input{ width:55px; height:20px; display:inline; vertical-align:middle; border:1px solid #ccc; line-height:20px; padding-left:2px;}
#list .r .selBox .sel .fixBox .s_sbuj ul li .btn{ margin-left:8px;text-decoration: none}
#list .r .selBox .sel .fixBox .s_sbuj ul li .btn img{ vertical-align:middle;}

#list .r h6{ width:924px; overflow:hidden; border:1px solid #e6e2e1; height:36px; border-top:2px solid #e6e2e1; margin:0 0 0 14px;}
#list .r h6 .tipData{ float:left; width:240px; padding-left:18px; overflow:hidden; line-height:36px;}
#list .r h6 .tipData span{ color:#c00;}
#list .r h6 .Sort{ float:left; width:165px; overflow:hidden; margin-left: 218px;}
#list .r h6 .Sort label{ float:left; width:42px; line-height:36px; overflow:hidden;}
#list .r h6 .Sort .inset{ float:left; width:52px; margin-right:5px; overflow:hidden; padding-top:6px;}
#list .r h6 .Sort .inPrice{ float:left;width:52px; margin-right:5px; overflow:hidden; padding-top:6px;}
#list .r h6 .Sort .inset a,#list .r h6 .Sort .inPrice a{ display:block; width:46px; padding-left:6px; overflow:hidden; background-position: -123px -155px; height:24px; line-height:24px; color:#000;}
#list .r h6 .Sort .inset a:hover,#list .r h6 .Sort .inPrice a:hover{ text-decoration:none;}
#list .r h6 .Sort .inset .s_d{ background-position:-68px -155px;}
#list .r h6 .Sort .inPrice .s_d{ background-position:-68px -155px;}
#list .r h6 .Sort .s_Time{ float:left; width:52px; overflow:hidden; padding-top:6px;}
#list .r h6 .Sort .s_Time a{ display:block; width:52px; height:24px; overflow:hidden; padding-left:7px;color:#000; line-height:24px; background-position: -123px -125px;}
#list .r h6 .Sort .s_Time a:hover{ text-decoration:none;}
#list .r h6 .Sort .s_Time a.cur{ background-position:0 -183px;color: #000;}
#list .r h6 .trunPage{ float:right; padding-right:8px; padding-top:3px;}
#list .r h6 .trunPage img{ vertical-align:middle;}
#list .r .showList{ width:940px; overflow:hidden; margin-top:10px; padding-top:5px; padding-bottom:28px;}
#list .r .showList ul li{ float:left; display:inline; width:188px; overflow:hidden; padding:12px 0 8px; border-top:1px solid #fff; height:246px;}
#list .r .showList ul li .pic{ width:160px; height:160px; overflow:hidden; margin:0 auto;}
#list .r .showList ul li .title{ width:150px; max-height:40px; line-height:20px; overflow:hidden;margin:0 auto;padding-top: 10px;}
#list .r .showList ul li .title a{ color:#666;}
#list .r .showList ul li .title a:hover{ color:#c00;}
#list .r .showList ul li p{ width:150px; height:20px; line-height:20px; overflow:hidden; margin:3px auto 0; color:#666;}
#list .r .showList ul li p b{ font-size:14px; font-family:Tahoma; color:#009900;}
#list .r .showList ul li p span{font-size:14px; font-family:Tahoma; color:#c00; font-weight:bold;}
#list .r .page{ height:24px; overflow:hidden; text-align:right; padding:18px 0;}
/*end 列表页*/
#pageUp{  background: url("../images/list-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 29px;
    width: 104px;
    float: right;
}
#pageDown{
    background: url("../images/list-btn.png") no-repeat scroll -105px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 29px;
    width: 104px;
    float: right;
}







#list .main{ float:left; width:515px; margin-right:10px; overflow:hidden;}
#list .main .adv{ width:515px; height:175px; overflow:hidden; position:relative; z-index:1;}
#list .main .adv .banner-pic{width:515px; height:175px; overflow:hidden;}
#list .main .adv .mub{ position:absolute; z-index:10; height:30px; width:515px; overflow:hidden;bottom:0; left:0;}
#list .main .adv .mub ul{/* padding-left:380px;*/ padding-top:3px;float: right;padding-right: 3px;}
#list .main .adv .mub ul li{ float:left; display:inline; padding-left:5px;}
#list .main .adv .mub ul li a{ display:block; background:url(../images/index_adv_ico.png) no-repeat; width:23px; height:23px; line-height:22px; text-align:center; color:#fff; overflow:hidden;_background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index_adv_ico.png");}
#list .main .adv .mub ul li a.cur,#list .main .adv .mub ul li a:hover{ text-decoration:none;background:url(../images/index_adv_ico_cur.png) no-repeat;_background:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/index_adv_ico_cur.png");}
#list .main .adv .bg{ height:30px; width:770px; overflow:hidden; position:absolute; bottom:0; left:0; background:#000;filter:alpha(opacity:30);;opacity:0.3; z-index:2;}
#list .main .m1{ width:515px; overflow:hidden; margin-top:10px;}
#list .main .m1 h2{ height:29px; overflow:hidden; background:url(../images/exchange_bg.gif) no-repeat; line-height:28px; padding-left:20px; color:#fff;}
#list .main .m1 .h2-bg-color{ background-position:0 -31px;}
#list .main .m1 .list{ width:515px; overflow:hidden; margin-top:10px;}
#list .main .m1 .list ul{ width:520px; padding-left:6px; overflow:hidden;}
#list .main .m1 .list ul li{ float:left; display:inline; margin-right:10px; width:200px; overflow:hidden; border-top:1px solid #fff; height:230px; padding-top:10px;}
#list .main .m1 .list ul li .pic{ width:200px; height:160px; overflow:hidden; margin:0;}
#list .main .m1 .list ul li .title{ width:200px;  max-height:40px; line-height:20px; overflow:hidden;margin:0 auto;height:20px; }
#list .main .m1 .list ul li .title a{ color:#666;}
#list .main .m1 .list ul li .title a:hover{ color:#c00;}
#list .main .m1 .list ul li p{ width:200px; height:20px; line-height:20px; overflow:hidden; margin:3px auto 0; color:#666;}
#list .main .m1 .list ul li p b{ font-size:14px; font-family:Tahoma; color:#009900;width:200px;}
#list .main .m1 .list ul li p span{font-size:14px; font-family:Tahoma; color:#c00; font-weight:bold;}



#list .warp{ float:left; width:235px; overflow:hidden;}
#list .warp .new{ width:235px; overflow:hidden;}
#list .warp .new h2{ height:30px; overflow:hidden; background-position:0 -70px;border:1px solid #e6e2e1; border-bottom:0; line-height:30px; color:#666; padding-left:10px; font-size:12px; font-weight:bold;}
#list .warp .new h2{border:1px solid #dbdbdb; border-bottom:0;}
#list .warp .new .box{ width:220px; overflow:hidden; border:1px solid #dbdbdb; padding-left:13px; padding-bottom:8px;}
#list .warp .new .box ul li{ height:20px; line-height:20px; overflow:hidden; margin-top:5px;}

#list .warp .banner{ width:235px; overflow:hidden; margin-top:10px;}


 /*积分兑换列表*/
#list .r .selBox .sel .fixBox .s_sbuj ul li .cur{color: #FFF;}
#list .r .selBox .result .s_list_result ul li  .cur{color: #FFF;}
.cur{background:#00A1CF;}
.select{margin-top: 5px;margin-bottom: 5px;background: #EAE7E6;height: 31px;line-height: 31px;padding-left: 14px;color: #806F66;font-size: 12px;}
.selectTitle{margin-right: 16px;}
.noSelectItem{float: left;margin-left: 25px;}
#fightFor .screen .s-item ul li .cur{color: #FFF;}
.selectItem{margin-left: 2px;margin-right:3px;color: #00A1CF;}
.selectItem:hover{color: #00A1CF;text-decoration: none;}
.parent{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #00A1CF;color: #00A1CF;font-weight: normal;height: 18px;line-height: 18px;margin-left: 5px;overflow: hidden;}
.sub{background: url("../images/facetTools.jpg") no-repeat scroll right -72px transparent;border: medium none;padding: 0 16px 0 0;height:18px;line-height: 18px;}

#list .r h6 .Sort .inset .i_i,#list .r h6 .Sort .inPrice .i_p{ display:block; width:46px; padding-left:6px; overflow:hidden; background-position:-268px -125px; height:24px; line-height:24px; color:#FFF;}
#list .r h6 .Sort .inset .i_i:hover,#list .r h6 .Sort .inPrice .i_p:hover{ text-decoration:none;}
#list .r h6 .Sort .inPrice .s_d{ background-position:-268px -155px;color: #FFF;}
#list .r h6 .Sort .s_Time .t_d{ background-position: -68px -155px;color: #FFF;}
#list .r h6 .Sort .s_Time .t_p{ background-position: -68px -125px;color: #FFF;}

.m1-bg{width:100%; height:35px; line-height:35px; border-bottom:1px solid #e3e3e3; box-shadow:0 1px 1px #e3e3e3; font-family:"微软雅黑"; color:#999;}
.m1-bg .m1{width:1180px; padding-left:10px; height:35px; line-height:35px; color:#333; margin:0 auto;}
.m1-bg .m1 span{margin: 0 5px;}
.m1-bg .m1 a{ color:#666;}
.m1-bg .m1 a:hover{ color:#333; text-decoration:underline;}
.m1-bg .m1 i{color:#999;}




