@charset "utf-8";


html{ border: 0;width:100%;}
body{display:none;font-family:Arial,"微软雅黑","宋体"; margin:0; padding:0;font-size:12px;word-wrap:break-word;color:#333; /*background:#fff url(../images/header_line01.gif) repeat-x;*/ position:relative; z-index:0; width:100%;}
*html{background-image:url(about:blank);background-attachment:fixed;}
ul,li,dl,dt,dd,ol{ padding:0px; margin:0px; list-style-type:none;}
p,input,form{ margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px; font-weight:normal; font-size:12px;}
img{border:0;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:underline; color:#C81D15;}
.clear{ clear:both; height:0; line-height:0; font-size:0; }

#position{ width:1180px; overflow:hidden; margin:0 auto; height:20px; padding-left:20px; margin-bottom:5px;}
#position a{ color:#333; font-size:14px; font-weight:bold;}
#position a:hover{ color:#c00;}


/*共用背景*/


/*----------页头页脚-------*/
#header{ width:100%; margin-bottom: 10px }
#header .t_area_t{background:url(../images/header_line01_.gif) repeat-x;width:100%;overflow:hidden;}
#header .t_area{ width:1200px; overflow:hidden;margin:0 auto 2px; }
#header .t_area .addLike{ float:left; width:540px; overflow:hidden; height:24px; padding-top:7px; }
#header .t_area .addLike img{ vertical-align:top;}
#header .t_area .addLike a{ color:#333;}
#header .t_area .addLike a:hover{ text-decoration:none;}
#header .t_area .tips{ float:left; width:300px; overflow:hidden;height:24px; padding-top:7px; color:#333;}
#header .t_area .tips a{ color:#333;}
#header .t_area .tips a:hover{ color:#c00;}
#header .t_area .webMap{ float: right; width:290px; overflow:hidden;}
#header .t_area .webMap .navs{ display:block; width:78px; overflow:hidden; height:35px; overflow:hidden;padding-left:20px; line-height:35px; color:#96928d; position:relative; z-index:2;}
#header .t_area .webMap ul li{ float:left; display:inline; width:70px; padding-left:1px; background:url(../images/header_me_line01.gif) left 7px no-repeat; overflow:hidden;}
#header .t_area .webMap ul li i{ font-size:9px; font-style:normal; font-weight:normal;}
#header .t_area .webMap ul li a{ display:block; width:70px; height:23px; padding-top:8px; overflow:hidden; text-align:center;}
#header .t_area .webMap ul li a:hover{ text-decoration:underline;}
#header .t_area .webMap ul .nav a:hover,#header .t_area .webMap ul .nav a.hover{ background:#fff; text-decoration:none;}
#header .t_area .webMap .nav:hover,#header .t_area .webMap .hover{ background:url(../images/header_menu_bg.gif) 0 -37px no-repeat; text-decoration:none;}
#header .t_area .webMap .someshow{ width:68px; border:1px solid #ccc; border-top:0; overflow:hidden;background:#fff; position:absolute; margin-left:0px; z-index:20; margin-top:-1px;}
#header .t_area .webMap .someshow dl{ width:68px; overflow:hidden;}
#header .t_area .webMap .someshow dl dd{ width:68px; overflow:hidden; line-height:18px;text-align: left;}
#header .t_area .webMap .someshow dl dd a{ color:#96928d; line-height:18px;}
#header .t_area .webMap .someshow dl dd a:hover{ color:#333;}


#header .top_banner{ width:1200px; overflow:hidden;margin:0 auto;}
#header .c_area{ width:1200px;height:111px; overflow:hidden;margin:0 auto;}
#header .c_area .logo{ float:left; width:210px; height:65px; overflow: hidden; margin-top:28px;}
#header .c_area .baner{ float:left; width:180px; height:60px; overflow:hidden; margin-left:9px; /*background:#ccc;*/ margin-top:31px;}
#header .c_area .searchArea{ float: left; display:inline; margin-left:44px; width:465px;overflow:hidden;margin-top:37px; }
#header .c_area .search{width:465px; height:35px; overflow:hidden;background:#CCCCCC;}
#header .c_area .search .put{ float:left; width:418px; height:27px; padding-top:2px; background:#fff; border:2px solid #CC0001; overflow:hidden;}
#header .c_area .search .put input{ color:#999;width:416px; padding-left:5px; height:23px; overflow:hidden; border:0;padding-top:2px; line-height:22px;}
#header .c_area .search .btn{ float:left; width:43px; overflow:hidden;}
#header .c_area .searchArea .hotFont{ width:465px; overflow:hidden; line-height:18px; margin-top:3px;height:18px;}
#header .c_area .searchArea .hotFont a{ color:#999;}
#header .c_area .searchArea .hotFont a:hover{ color:#c00;}
#header .c_area .myAcunnt .tal_Acunnt,#header .c_area .buyCar .tal_Car{ background:url(../images/header_myacunnt.gif) no-repeat;}

#header .c_area .myAcunnt{ float:left; margin-left:38px; width:110px; overflow:hidden; margin-top:40px;}
#header .c_area .myAcunnt .tal_Acunnt{ position:relative; z-index:10; width:110px; overflow:hidden; height:33px; background-position:0 -105px; cursor:pointer;}
#header .c_area .myAcunnt .tal_Acunnt:hover{ background-position:0 -70px;}
#header .c_area .myAcunnt .hover{ background-position:0 -70px;}
#header .c_area .myAcunnt .tal_Acunnt i{ font-style:normal; position:absolute; display:block; width:24px; height:24px; overflow:hidden; left:2px; top:2px;}
#header .c_area .myAcunnt .tal_Acunnt em{ position:absolute; font-style:normal; width:5px; height:9px; overflow:hidden; display:block; right:13px; top:9px;}
#header .c_area .myAcunnt .tal_Acunnt a{ position:absolute; left:36px; top:8px;}
#header .c_area .myAcunnt .Acunnt_info{ margin-left:-232px; width:340px; overflow:hidden; background:#fff; border:1px solid #E1E1E1; z-index:9; position:absolute; margin-top:-1px;}
#header .c_area .myAcunnt .Acunnt_info h1{ background:url(../images/header_show_layout.gif) repeat-x; height:37px; overflow:hidden; font-size:14px; padding:0 10px; font-weight:bold;}
#header .c_area .myAcunnt .Acunnt_info h1 span{ float:left; padding-top:10px;}
#header .c_area .myAcunnt .Acunnt_info h1 a.login{ float:right; font-weight:bold; background:url(../images/header_show_layout.gif)  0 -39px repeat-x; height:28px; width:121px; overflow:hidden; text-align:center; margin-top:5px; line-height:28px; color:#fff;}
#header .c_area .myAcunnt .Acunnt_info h1 .login:hover{ text-decoration:none;}
#header .c_area .myAcunnt .Acunnt_info .top_sel{ width:340px; overflow:hidden;}
#header .c_area .myAcunnt .Acunnt_info .top_sel ul{ width:342px;}
#header .c_area .myAcunnt .Acunnt_info .top_sel ul li{ float:left; width:140px; overflow:hidden; border-right:1px solid #E6E6E6; border-bottom:1px dashed #E6E6E6; text-align:right; padding:8px 0; padding-right:30px;}
#header .c_area .myAcunnt .Acunnt_info .top_sel ul li a{ color:#005EA7;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel{ width:340px; overflow:hidden; background:#F0F0F0;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel h2{ height:24px; overflow:hidden; border-bottom:1px solid #E1E1E1; padding:8px 15px 0;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel h2 span{ float:left;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel h2 a{ float:right; color:#005EA7;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel .box{ width:340px; overflow:hidden; padding:10px 0;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel .box ul{ padding-left:15px;}
#header .c_area .myAcunnt .Acunnt_info .bottom_sel .box ul li{ float:left; display:inline; margin-right:15px; /*width:50px;*/ height:50px; overflow:hidden;}

#header .c_area .buyCar{ float:left;margin-left:11px; width:131px; overflow:hidden; margin-top:40px;}
#header .c_area .buyCar i{ position:absolute; background:url(../images/header_show_stute_mub.gif) no-repeat; width:28px; height:21px; overflow:hidden; text-align: center; line-height:18px; color:#fff; margin-top:-14px; z-index:14; font-style:normal; margin-left:25px;}
#header .c_area .buyCar .tal_Car{ position:relative; z-index:13; width:131px; overflow:hidden; height:33px; background-position:0 -35px; cursor:pointer;}
#header .c_area .buyCar .tal_Car:hover{  background-position:0 0;}
#header .c_area .buyCar .hover{ background-position:0 0px;}
#header .c_area .buyCar .tal_Car em{ position:absolute; font-style:normal; width:5px; height:9px; overflow:hidden; display:block; right:13px; top:9px;}
#header .c_area .buyCar .tal_Car a{ position:absolute; left:36px; top:8px;}
#header .c_area .buyCar .Car_info{ margin-left:-211px; width:340px; overflow:hidden; background:#F0F0F0; border:1px solid #E1E1E1; z-index:12; position:absolute; margin-top:-1px;}
#header .c_area .buyCar .Car_info h2{ background:url(../images/header_show_layout.gif) repeat-x; height:37px; overflow:hidden; font-size:14px; padding:0 10px; font-weight:bold; line-height:36px;}
#header .c_area .buyCar .Car_info .item{ border-bottom:1px solid #E1E1E1; width:320px; padding:8px 10px; overflow:hidden; background:#fff;}
#header .c_area .buyCar .Car_info .item .pic{ float:left; width:50px; height:50px; overflow:hidden;}
#header .c_area .buyCar .Car_info .item .title{ float:left;width:170px; padding-left:10px; line-height:20px; overflow:hidden;}
#header .c_area .buyCar .Car_info .item .mub{ float:left; width:90px; overflow:hidden; text-align:right;}
#header .c_area .buyCar .Car_info .mub{ width:90px; overflow:hidden; }
#header .c_area .buyCar .Car_info .mub p{ line-height:20px; color:#666;}
#header .c_area .buyCar .Car_info .mub p span{ color:#c00; font-weight:bold; font-family:Tahoma;}
#header .c_area .buyCar .Car_info .mub p a{ color:#005EA7;}
#header .c_area .buyCar .Car_info .sub{ width:320px; padding:0px 10px 18px; overflow:hidden; text-align:right;}
#header .c_area .buyCar .Car_info .sub p{width:320px; overflow:hidden; margin-top:11px;}
#header .c_area .buyCar .Car_info .sub p span{ color:#c00;}
#header .c_area .buyCar .Car_info .sub p b{ font-size:16px; font-family:Tahoma; color:#c00;}
#header .c_area .buyCar .Car_info .sub p a{ float:right; font-weight:bold; background:url(../images/header_show_layout.gif)  0 -39px repeat-x; height:28px; width:121px; overflow:hidden; text-align:center; margin-top:5px; line-height:28px; color:#fff;}
#header .c_area .buyCar .Car_info .sub p a:hover{ text-decoration:none;}



#header .b_area{ width:1200px;margin:0 auto;}

#header .b_area_t{background:url(../images/header_line01_2.gif) repeat-x 0 -1px;width:100%;overflow:hidden;}
/*全部分类*/
#header .b_area .me_Layer{ position:absolute; _position: relative;width:196px; z-index:99; padding:0px 0px 0px; background:#FCF4E9; border:2px solid #CC0001; margin-top:-1px;}
#header .b_area .me_Layer .layer_father{position: relative;}
#header .b_area .me_Layer .backg{width:196px; background: url(../images/header_m_line02.gif) left bottom no-repeat; padding-bottom:2px;}
#header .b_area .me_Layer .item{ width:172px; padding:8px 9px 5px 15px; border-top:1px solid #fff;}
#header .b_area .me_Layer .item h1{ color:#fff;line-height:20px; background: url(../images/header_layout_line01.gif) 150px 5px no-repeat; }
#header .b_area .me_Layer .item h1 a{ color:#333; font-size:14px;}
#header .b_area .me_Layer .item h2{color:#; line-height:18px;}
#header .b_area .me_Layer .item h2 a{ color:#ccc;}
#header .b_area .me_Layer p{ color:#fff; padding-top:9px; padding-left:9px;}
#header .b_area .me_Layer p a{ color:#fff;}
#header .b_area .me_Layer .hover{ background:#fff; width:159px; padding:0px 0px 0px 0px;  margin:0 0 0 0; position:relative; z-index:992; border-top:1px solid #CC0000; border-bottom:1px solid #CC0000; }
#header .b_area .me_Layer .hover h1{ color:#fff; background:#fff;padding:8px 6px 4px 15px;width:138px; position:relative; z-index:992;}
#header .b_area .me_Layer .hover h1 a{color:#c00; font-weight:bold;}
#header .b_area .me_Layer .hover h1 a:hover{ text-decoration:none;}
#header .b_area .me_Layer .hover h2{color:#fff;}
#header .b_area .me_Layer .hover h2 a{color:#fff;}
#header .b_area .me_Layer .layer_show{ padding-bottom:10px;position:absolute; z-index:991; width:738px; overflow:hidden; background: url(../images/header_layout_bg.gif) repeat-y #FCF4E9;left:158px; top:0; margin-top:-1px; border:1px solid #c00;}
#header .b_area .me_Layer .layer_show .linfo{ float:left; width:492px; overflow:hidden; padding-bottom:5px;}
#header .b_area .me_Layer .layer_show .linfo .fixBox{ width:450px; overflow:hidden; border-top:1px dashed #EED6B7; padding:12px 0; margin:-1px auto 0;}
#header .b_area .me_Layer .layer_show .linfo .fixBox label{ float:left; width:81px; overflow:hidden; font-size:14px; font-weight:bold; color:#c00; line-height:22px; text-align:left;}
#header .b_area .me_Layer .layer_show .linfo .fixBox .thisList{float:left; width:360px; overflow:hidden; line-height:20px; color:#999;}
#header .b_area .me_Layer .layer_show .linfo .fixBox .thisList a{text-decoration:none; }
#header .b_area .me_Layer .layer_show .pro_More{ float:left; width:245px; overflow:hidden;}
#header .b_area .me_Layer .layer_show .pro_More dl{ width:245px; overflow:hidden;}
#header .b_area .me_Layer .layer_show .pro_More dl.icondt{ width:245px; overflow:hidden;}
#header .b_area .me_Layer .layer_show .pro_More dl dt{ height:30px; margin-top:12px; overflow:hidden; line-height:30px;text-indent:12px; font-size:14px; font-weight:bold; color:#c00;}
#header .b_area .me_Layer .layer_show .pro_More dl dd{ float:left; width:118px; overflow:hidden; text-indent:15px; height:23px; line-height:20px;}
#header .b_area .me_Layer .layer_show .pro_More dl dd.icon{padding: 5px 0 0 5px; float:left;  overflow:hidden; text-indent:0px; line-height:0px; width:115px ;height:40px}
/*end 全部分类*/

#header .b_area .l_btn{ float:left; width:200px; overflow:hidden; background:url(../images/header_bg01.png) no-repeat;height:40px;}
#header .b_area .l_btn .all{}
#header .b_area .l_btn .all a{ display:block; width:180px; height:40px; line-height:40px; font-weight:bold; padding-left:20px; font-size:14px; color:#fff; background:url(../images/header_bicMore.png) 159px 9px no-repeat;}
#header .b_area .l_btn .all a:hover{ text-decoration:none;}

#header .b_area .menu{ float:left; width:700px;}
#header .b_area .menu ul li{ float:left; display:inline; position:relative; background:url(../images/header_line02.gif) right top no-repeat; padding-right:2px;}
#header .b_area .menu ul li h1{}
#header .b_area .menu ul li h1 a{ display:inline-block; height:40px; line-height:40px; padding:0 32px; font-size:14px; font-family:"微软雅黑";  color:#fff; font-weight: bold;}
#header .b_area .menu ul li h1 a:hover,#header .b_area .menu ul li h1 a.cur{ background:url(../images/header_line04.gif) repeat-x; text-decoration:none;}

#header .b_area .menu ul li  .cook_w{ position:absolute; background:#F4F4F4; width:740px; overflow:hidden; border:2px solid #AD5223; padding:8px 0; color:#333;}
#header .b_area .menu ul li  .cook_w .subj_list{ width:725px; overflow:hidden; background:#fff; padding-right:15px; padding-bottom:10px;}
#header .b_area .menu ul li  .cook_w .subj_list .fixBox{ width:725px; overflow:hidden;}
#header .b_area .menu ul li  .cook_w .subj_list .fixBox label{ line-height:34px; float:left; width:95px; text-align:right; padding-right:20px; font-weight:bold; color:#666;}
#header .b_area .menu ul li  .cook_w .subj_list .fixBox .list{ float:left; border-bottom:1px dashed #ccc; line-height:20px; padding:7px 0; width:610px; overflow:hidden;}
#header .b_area .menu ul li  .cook_w .brand{ width:740px; overflow:hidden; padding:5px 0 10px;}
#header .b_area .menu ul li  .cook_w .brand label{ line-height:54px; float:left; width:95px; text-align:right; padding-right:20px; font-weight:bold; color:#666;}
#header .b_area .menu ul li  .cook_w .brand .list{ float:left; width:625px; overflow:hidden;}
#header .b_area .menu ul li  .cook_w .brand .list ul li{ float:left; display:inline; width:88px; height:33px; overflow:hidden; border:1px solid #DEDEDD; margin-top:10px; margin-right:12px;}

#header .b_area .menu ul li  .cache{ position:absolute; background:#fff; width:700px; overflow:hidden; border:2px solid #AD5223; padding:10px 0; color:#333; top:48px;}
#header .b_area .menu ul li  .cache ul{ padding-left:10px;}
#header .b_area .menu ul li  .cache ul li{ float:left; display:inline; width:220px; overflow:hidden; margin-right:10px;}
#header .b_area .menu ul li  .cache ul li .pic{ width:220px; height:195px; overflow:hidden;}
#header .b_area .menu ul li  .cache ul li .text{ width:210px; overflow:hidden; line-height:20px; background:#000; padding:4px 3px 4px 7px; color:#fff;}

#header .b_area .tel_mub{ float:right; width:240px; height:40px; overflow:hidden;}

#header .h_shopM{ width:980px; overflow:hidden; margin:0 auto; padding:18px 0 10px;}
#header .h_shopM .logo{ float:left; width:239px; height:82px; overflow:hidden;}
#header .h_shopM .searchArea{ float:right; padding-top:15px; width:445px; overflow:hidden;}
#header .h_shopM .searchArea .putArea{ background:#EAEAEA; padding:4px; overflow:hidden; width:437px;}
#header .h_shopM .searchArea .putArea .put{ float:left; width:352px; height:24px; padding-top:2px;border:1px solid #989898; overflow:hidden; background:#fff;}
#header .h_shopM .searchArea .putArea .put input{ width:328px; padding-left:24px; line-height:20px; padding-top:2px; height:20px; overflow:hidden; border:0; background:#fff url(../images/header_put_bg.gif) 3px 1px no-repeat;}
#header .h_shopM .searchArea .putArea .btn{ float:left; width:83px; overflow:hidden; height:28px; text-align:center; font-size:14px;}
#header .h_shopM .searchArea .putArea .btn a{ color:#fff; background:url(../images/header_btn01.gif) no-repeat; display:block; width:83px; height:28px; overflow:hidden; text-align:center; line-height:28px; font-weight: bold;}
#header .h_shopM .searchArea .putArea .btn a:hover{ background:url(../images/header_btn01_over.gif) no-repeat;}
#header .h_shopM .searchArea .putArea .btn a:hover{ text-decoration:none;}
#header .h_shopM .searchArea .hotFont{ width:437px; height:20px; overflow:hidden; padding-top:5px;}
#header .h_shopM .searchArea .hotFont a{ color:#686868;}
#header .h_shopM .searchArea .hotFont a:hover{color:#C81D15;}

/*全部分类*/



#footer{ width:1200px; overflow:hidden;padding-bottom:8px; margin:10px auto 0; }
#footer .dow{ width:1200px; overflow:hidden; height:64px; margin:10px auto 0px;}
#footer .dow2{ width:1198px; border:1px solid #DBDBDB; overflow:hidden; height:44px; margin:0 auto 10px;}
#footer .stup{ border:1px solid #E0E0E0; width:1198px; overflow:hidden; margin:0 auto;}
#footer .stup ul li{ float:left; display:inline;  width:192px; overflow:hidden;background:url(../images/footer_line01.gif) 35px top repeat-y; padding-bottom:8px;}
#footer .stup ul li dl{ width:180px; padding-left:19px; overflow:hidden;}
#footer .stup ul li dl dt{ height:35px; overflow:hidden; padding-top:18px; color:#666; font-weight:bold; font-size:14px; background:#fff;}
#footer .stup ul li dl dt img{ vertical-align:middle;}
#footer .stup ul li dl dd{ height:20px; padding-left:34px; overflow:hidden; line-height:20px; padding-top:4px;}
#footer .stup ul li dl dd a{ color:#666;}
#footer .stup ul li dl dd a:hover{ color:#C81D15;}
#footer .stup ul .text{ display:inline; width:200px; background:none; overflow:hidden; padding-left:25px; padding-top:15px;}
#footer .stup ul li h2{ height:30px; line-height:30px; overflow:hidden; font-size:14px; font-weight:bold; color:#666;}
#footer .stup ul li .pro{ width:200px; overflow:hidden; line-height:20px; margin-top:8px; background:url(../images/footer_pro_bg.gif) 0 40px no-repeat; padding-bottom:20px;}

#footer .conpny{ width:1198px; overflow:hidden; margin:0 auto; padding:8px 0;}
#footer .conpny p{ text-align:center; padding-top:8px; color:#666;}
#footer .conpny p a{ color:#666;}
#footer .conpny p a:hover{color:#cd0000;}


/*-------end---页头页脚-------*/




/*#footer{ width:100%; overflow:hidden;padding-bottom:8px; margin-top:10px;}*/
/*#footer .dow{ width:980px; overflow:hidden; height:64px; margin:0 auto 10px;}*/
/*#footer .dow2{ width:978px; border:1px solid #DBDBDB; overflow:hidden; height:44px; margin:0 auto 10px;}*/
/*#footer .stup{ border:1px solid #DBDBDB; width:978px; overflow:hidden; margin:0 auto;}*/
/*#footer .stup .l{ float:left; width:800px; overflow:hidden;}*/
/*#footer .stup .l ul li{ float:left; display:inline; background:url(../images/footer_bg01.gif) right top no-repeat; width:199px; border-right:1px solid #DBDBDB; height:180px;}*/
/*#footer .stup .l ul li dl{ width:180px; padding-left:19px; overflow:hidden;}*/
/*#footer .stup .l ul li dl dt{ height:30px; overflow:hidden; padding-top:18px; color:#666; font-weight:bold; font-size:14px;}*/
/*#footer .stup .l ul li dl dt img{ vertical-align:middle;}*/
/*#footer .stup .l ul li dl dd{ height:20px; padding-left:34px; overflow:hidden; line-height:20px; padding-top:4px;}*/
/*#footer .stup .l ul li dl dd a{ color:#666;}*/
/*#footer .stup .l ul li dl dd a:hover{ color:#C81D15;}*/
/*#footer .stup .r {*/
    /*background-color: #F5F6F9;*/
    /*float: left;*/
    /*height: 162px;*/
    /*overflow: hidden;*/
    /*padding-top: 18px;*/
    /*text-align: center;*/
    /*width: 178px;*/
/*}*/
/*#footer .stup .r li{height: 45px;line-height: 45px;display: block;}*/
/*#footer .stup .r .first{margin-top: 20px;}*/
/*#footer .conpny{ width:980px; overflow:hidden; margin:0 auto; padding:8px 0;}*/
/*#footer .conpny p{ text-align:center; padding-top:8px; color:#666;}*/
/*#footer .conpny p a{ color:#666;}*/
/*#footer .conpny p a:hover{color:#cd0000;}*/
/*-------end---页头页脚-------*/


/*分页*/
/*
#infoPage{width:auto;}
#infoPage ul{margin:0px;}
#infoPage ul li{float:left;line-height:18px;list-style:none;color:#333;margin-right: 1px}
#infoPage .upPage{width:80px;height:36px;display:block;background:url(../images/list_page_back.gif) no-repeat center left;}
#infoPage .downPage{width:80px;height:36px;display:block;background:url(../images/list_page_next.gif) no-repeat center center;}
#infoPage .everyPage{color:#ccc;border:#e5e5e5 1px solid;text-decoration:none;width:34px;height:34px;line-height: 33px;font-weight:bold;display:block ;text-align:center;float:left;font-size:13px;}
#infoPage .everyPage:hover{color:#3a979f;background: #efefef;}
#infoPage .nowPage{border:#e5e5e5 1px solid;color:#3a979f;background: #efefef;width:34px;height:34px;line-height: 33px;font-weight:bold;display:block ;text-align:center;float:left;font-size:13px;}
#infoPage select{height:18px;color:#333;}
#inputPage{
    border:#b3b5bd 1px solid;
    width:25px;
    height: 36px
}*/

#infoPage {font-family: Verdana,Arial,Helvetica,sans-serif;height: 34px;margin-bottom: 20px;text-align: center;}
#infoPage{width:auto;}/*expression(doucment.getElementById('infoPage').scrollWidth+'px';);*/
#infoPage ul li{float:left; line-height: 11px;list-style:none;color:#333;}
#infoPage li span { float: left}
#infoPage .prev {margin-right: 20px;}
#infoPage .next {margin-left: 15px;}
#infoPage .everyPage{border: 1px solid #D4D4D4;color: #FF6500;margin-right: 3px;padding: 5px 7px;text-decoration: none;}
#infoPage .nowPage{background: none repeat scroll 0 0 #FFC794;border: 1px solid #FF9600;color: #FF6500;margin-right: 3px;padding: 5px 7px;text-decoration: none;}
#infoPage select{height:18px;color:#333;}
#infoPage span, .pager a {font-size: 12px;font-weight: bolder; text-decoration: none;}
#infoPage li {display: inline-block;height: 34px;}
#infoPage li a, #infoPage .pages li span {display: block; float: left; width: auto; line-height:11px;}
#infoPage li a:hover {color:#FF6500;background:#FFC794; border: 1px solid #FF9600;}
#infoPage .everyPage { color: #0061DE;}
#infoPage .upPage,#infoPage .downPage {color: #0061DE; border: 1px solid #E5E5E5;height: 16px; padding-top: 5px;text-align: center; width: 48px;margin-right: 4px;}
#infoPage li.current {color: #000000; cursor: default;}
#inputPage{border:#b3b5bd 1px solid; width:25px; height: 20px;text-align: center;}
#infoPage .goToPage{margin-left:5px;width:50px;height:24px;}

 #footer .conpny .shortScreen{width: 1200px;}
/*.w #header{width: 960px;}*/
.w #header .t_area{width: 960px;}
.w #header .c_area{width: 960px;}
.w #header .c_area .searchArea{margin-left: 20px; width: 405px;}
.w #header .c_area .search{ width: 405px;}
.w #header .c_area .search .put{ width: 358px;}
.w #header .c_area .search .put input{ width: 350px;}
.w #header .c_area .searchArea .hotFont{ width: 405px;}
/*.w #header .b_area .tel_mub{ display: none}*/
.w #header .b_area{width: 960px;}
.w #header .b_area .menu{width: 520px;}
.w #header .b_area .menu ul li h1 a{padding:0 28px;}
.w #header .t_area .addLike{width: 300px;}
.w #header .c_area .baner{display: none}
.w #position{width: 940px;}

.w #footer{width: 960px;}
.w #footer .stup{width: 958px;margin:0;}
.w #footer .stup ul li{width: 180px;}
.w #footer .stup ul li .pro{width: 180px;}
.w #footer .stup ul .last{display: none}
.w #footer .conpny{width: 958px;}
.w #footer .conpny .shortScreen{width: 960px;}
.w #footer .dow{width:960px}
.w #header .top_banner{width:960px;}

.q #header{width: 100%;margin:0 auto;}
.q #header .t_area{width: 980px;}
.q #header .c_area{width: 980px;}
.q #header .c_area .searchArea{margin-left: 20px; width: 450px;}
.q #header .c_area .search{ width: 445px;}
.q #header .c_area .search .put{ width: 398px;}
.q #header .c_area .search .put input{ width: 390px;}
.q #header .c_area .searchArea .hotFont{ width: 445px;}

.q #header .b_area{width: 980px;}
/*.q #header .b_area .menu{width: 795px;}*/
.q #header .b_area .menu ul li h1 a{padding:0 28px;}
.q #header .t_area .addLike{width: 320px;}
.q #header .c_area .baner{display: none}
.q #header .top_banner{width:980px;}

.q #footer{width: 980px;}
.q #footer .dow{width:980px}
.q #footer .stup{width: 978px;margin:0;}
.q #footer .stup ul li{width: 184px;}
.q #footer .stup ul li .pro{width: 180px;}
.q #footer .stup ul .last{display: none}
.q #footer .conpny{width: 978px;}
.q #footer .conpny .shortScreen{width: 980px;}
.q #position{width:980px}
.q #header .b_area .tel_mub{display:none;}

