
/*顶部导航*/
.hd-top{width: 1190px; height: 100px; margin: 1px auto 0;}
.hd-top .logo{width: 230px; height: 100px; float: left; overflow: hidden;}
/*.hd-top .logo img{width: 230px; height: 100px;}*/
.hd-top .hd-rt{width: 400px; height: 12px; background-color: #f5f5f5; border-radius: 6px; float: right; margin: 30px 60px 0 0; position: relative;}
.hd-top .hd-rt span{display: block; width: 12px; height: 12px; background-color: #dadada; border-radius: 50%;}
.hd-top .hd-rt i{display: block; width: 100px; text-align: center; color: #999999; font-size: 14px; position: absolute; top:25px; left: -50%; margin-left: -37px;}
.hd-top .hd-rt .m1{position: absolute; left: 0; top:0;}
.hd-top .hd-rt .m2{position: absolute; left: 50%; top:0; margin-left: -6px;}
.hd-top .hd-rt .m3{position: absolute; right: 0; top:0;}

.hd-top .step1 .m1,
.hd-top .step2 .m1,
.hd-top .step2 .m2,
.hd-top .step3 .m1,
.hd-top .step3 .m2,
.hd-top .step3 .m3{background-color: #13ae67;}

.hd-top .step1 .m1 i,
.hd-top .step2 .m1 i,
.hd-top .step2 .m2 i,
.hd-top .step3 .m1 i,
.hd-top .step3 .m2 i,
.hd-top .step3 .m3 i{color: #13ae67;}

.hd-top .step1 .m1:before,
.hd-top .step2 .m1:before,
.hd-top .step2 .m2:before,
.hd-top .step3 .m1:before,
.hd-top .step3 .m2:before{display: block; content: ''; width: 180px; height: 1px; background-color: #13ae67; position: absolute; left: 13px; top:6px;}
.hd-top .step3 .m3:before{display: none;}


















