/*@charset "utf-8";
@import "mixin";

$color1: #FF6B00;
.m-top {
    .bianyi {
        width: 1.875rem;
        height: 1.40625rem;
        @include font-dpr(15px);
        line-height: 1.40625rem;
        text-align: center;
        color: #444444;
        position: absolute;
        right: 0;
        top: 0;
    }
    .toggle-box {
        width: 5.9375rem;
        height: 0.90625rem;
        border: 0.03125rem solid $color1;
        border-radius: 0.125rem;
        margin: 0.25rem auto 0;
        p {
            width: 50%;
            height: 100%;
            line-height: 0.90625rem;
            text-align: center;
            float: left;
            color: $color1;
        }
    }
}*/