.rem-get { width: 4.6875rem; height: 1.5625rem; line-height: 1.5625rem; text-align: center; border-radius: 0.09375rem; color: #fff; position: fixed; left: 50%; top: 7.5rem; margin-left: -2.34375rem; font-size: 13px; background-color: rgba(0, 0, 0, 0.6); z-index: 21; }
[data-dpr="2"] .rem-get { font-size: 26px; }
[data-dpr="3"] .rem-get { font-size: 39px; }

.seting-age-main {padding-left: 0.4375rem; margin-top: 1.6875rem; background: #fff; font-family: PingFangSC-Light;}
.seting-age-main .item {height: 1.40625rem; font-size: 15px; color: #0C1828; line-height: 1.40625rem; border-bottom: 1px solid #eee; position: relative;}
[data-dpr="2"] .seting-age-main .item {font-size: 30px;}
[data-dpr="3"] .seting-age-main .item {font-size: 45px;}
.seting-age-main .cur::before {display: block; content: ''; width: 0.484375rem; height: 100%; background: url(../images/xuanzhong.png) no-repeat center center / 0.484375rem 0.3125rem; position: absolute; top: 0; right: 0.625rem;}